/* Reset default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #333;
}

/* ========================= */
/* Navigation Bar */
/* ========================= */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: dark green;
  padding: 15px 50px;
}

.logo {
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links a:hover {
  color: #f5b041;
}

/* ========================= */
/* Hero Section */
/* ========================= */

.hero {
  background: url("https://images.unsplash.com/photo-1501785888041-af3ef285b470") no-repeat center center/cover;
  height: 60vh;
  color: darkmagenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-size:22px;
  <button>start exploring</button>
  background-color: orange;
  white-text:2px;
  padding: 50px;
  ronded-corners:3px;
  hover-effect:slightly darker orange;
}


.hero h2 {
  font-size: 40px;
}

.hero p {
  font-size: 18px;
}

/* ========================= */
/* Blog Cards */
/* ========================= */

.blog-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
}

.blog-card {
  background-color: white;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: scale(1.05);
  slight: zoom 509px;
  text-shadow: black 2px;

}

.blog-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-card h3 {
  padding: 15px;
}

.blog-card p {
  padding: 0 15px 20px 15px;
}

  .blog-card h4{ 
    width:300px;
  }


/* ========================= */
/* Footer */
/* ========================= */

footer {
  text-align: center;
  padding: 20px;
  background-color: #1e3d59;
  color: white;
}
